.works__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 10vh;
  // transform: translateY(-10vh);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  transition: width 0.8s ease-in-out;
  will-change: width;

  @media screen and (max-width: 768px) {
    padding: 0;
  }

  &__content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    position: relative;
    padding: 0 10vw;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;

    &:after {
      transition: all 0.6s ease-in-out;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
    }

    &:hover {
      transition: all 0.6s ease-in-out;

      &:after {
        background: rgba(0, 0, 0, 0.6);
      }
    }

    @media screen and (max-width: 768px) {
      height: 50vh;
    }

    &__technology {
      font-size: 0.8rem;
      margin-bottom: 30px;
      border-radius: 25px;
      z-index: 999;
    }

    &__headline {
      font-size: 6.2rem;
      position: relative;
      z-index: 997;
      padding-bottom: 1px;
      margin: 0;
      margin-left: -6px;
      font-weight: 300;
      color: white;
      position: relative;
      display: inline;
      cursor: pointer;
      overflow: hidden;

      &:before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: white;
        position: absolute;
        bottom: 0px;
        left: -100%;
        transition: all 1s ease-in-out;
      }

      &:hover {

        &:after {
          transform: translateX(-100%);
        }

        &:before {
          transform: translateX(100%);
        }
      }

      &:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: white;
        position: absolute;
        bottom: 0px;
        left: 6px;
      }

      @media screen and (max-width: 768px) {
        font-size: 3.6rem;
      }
    }

    &__casestudy {
      margin-top: 30px;
      font-size: 0.8rem;
      font-weight: 400;
      position: absolute;
      right: 10vw;
      color: white;
      line-height: 2.2;
      cursor: pointer;
      text-transform: uppercase;
      z-index: 999;
      padding: 5px;


      @media screen and (max-width: 768px) {
        font-size: 1.2rem;
      }

      &:after {
        content: "\2192";
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        transform: translateY(2px);
        transform: translateX(5px);
        padding-bottom: 2px;
        width: 64px;
        height: 64px;
        background-color: #223dfb;
        border-radius: 50%;
        font-size: 1.8rem;
        z-index: -1;
        cursor: pointer;
        top: -15px;
        right: -40px;
      }

    }
  }
}

.link {
  transition: transform 0.7s cubic-bezier(0.5, 0, 0.1, 1), opacity .5s cubic-bezier(0.5, 0, 0.1, 1);
  transition: all 0.3s ease-in-out;
}


.details__wrapper {
  width: 50%;
  height: 80%;
  position: absolute;
  bottom: -100%;
  margin: auto;
  right: 5vw;
  padding: 5vw;
  background: black;
  z-index: 9999;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  transition: 1s;

  &__close {
    position: absolute;
    top: 10vh;
    left: 5vw;
    z-index: 999;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    transform-origin: center center;
    border-radius: 50%;

    &:hover {
      transform: rotate(-90deg);
      background: #223dfb;
    }
  }

  & p {
    line-height: 1.5;
    color: #747d89;
  }

  & a {
    margin-top: 30px;
  }

  // & a {
  //   @extend .link;
  //   position: relative;
  //   display: inline-block;
  //   padding: 1px 1px 0 16px;
  //   margin-top: 30px;
  //   z-index: 9999;

  //   &:after {
  //     @extend .link;
  //     width: 50px;
  //     transform: scaleX(.14286);
  //     height: 1px;
  //     transform-origin: 0 0;
  //     content: "";
  //     display: block;
  //     position: absolute;
  //     top: 10px;
  //     left: 0;
  //     background: white;
  //   }

  //   &:before {
  //     @extend .link;
  //     content: "";
  //     display: block;
  //     position: absolute;
  //     top: 3px;
  //     left: 0;
  //     background: white;
  //     height: 8px;
  //     width: 1px;
  //   }

  //   &:hover {
  //     padding: 1px 1px 0 25px;

  //     &:after {
  //       width: 100px;
  //     }
  //   }
  // }

  &__technology {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 0.8rem;

    & span {
      font-size: 0.6rem;
      text-transform: uppercase;
      margin-right: 10px;
    }
  }
}