*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
  font-size: 16px;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  text-rendering: optimizelegibility;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-moz-selection {
  background: #223dfb;
  color: white;
}

::selection {
  background: #223dfb;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #223dfb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d42869;
}

:hover {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

a {
  color: #223dfb;
  text-decoration: none;
}

p {
  line-height: 2;
}

h1 {
  font-size: 42px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

p {
  @media screen and (max-width: 768px) {
    text-align: justify;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  background-color: #223dfb;
  color: white;
}