.slider {
  &__wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.3s ease;
    z-index: -1;
    position: relative;
    position: relative;
    background-size: 320px 5px;
    background-image: linear-gradient(to right, #747d8928 1px, transparent 1px);

    &__h1 {
      font-family: proxima-nova, sans-serif;
      font-size: 7.2vw;
      transform: translateY(-3vh);
      padding: 0 20vw 0 10vw;
      position: relative;
      animation: opacity 1s ease-in 0s;
      overflow: hidden;

      & span {
        background: -webkit-gradient(linear,
            left top,
            right top,
            from(#223dfb),
            color-stop(50%, #d42869));
        background: -webkit-linear-gradient(left, #223dfb 0%, #d42869 50%);
        background: -o-linear-gradient(left, #223dfb 0%, #d42869 50%);
        background: linear-gradient(to right, #223dfb 0%, #d42869 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:before {
        animation: animeSlideBg 1s ease-in 0s;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        -webkit-transform: translate3d(-100%, 0, 0) translate3d(-1px, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0) translate3d(-1px, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0) translate3d(-1px, 0, 0);
        -o-transform: translate3d(-100%, 0, 0) translate3d(-1px, 0, 0);
        transform: translate3d(-100%, 0, 0) translate3d(-1px, 0, 0);
        -webkit-transition: transform 0.7s cubic-bezier(0.7, 0, 0.3, 1);
        -o-transition: transform 0.7s cubic-bezier(0.7, 0, 0.3, 1);
        transition: transform 0.7s cubic-bezier(0.7, 0, 0.3, 1);
      }

      @media screen and (max-width: 768px) {
        font-size: 62px;
        width: 100%;
      }
    }
  }
}

@keyframes bgBlue {
  from {
    right: -50%;
  }

  to {
    right: 0;
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animeSlideBg {
  from {}

  to {
    -webkit-transform: translate3d(100%, 0, 0) translate3d(1px, 0, 0);
    -moz-transform: translate3d(100%, 0, 0) translate3d(1px, 0, 0);
    -ms-transform: translate3d(100%, 0, 0) translate3d(1px, 0, 0);
    -o-transform: translate3d(100%, 0, 0) translate3d(1px, 0, 0);
    transform: translate3d(100%, 0, 0) translate3d(1px, 0, 0);
  }
}

@keyframes textAnime {
  from {
    padding-left: 50%;
  }

  to {
    padding-left: 0%;
  }
}

@keyframes slideTop {
  0% {
    bottom: -40px;
    opacity: 0;
  }

  100% {
    bottom: 20px;
    opacity: 1;
  }
}